@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

:root {
  --primaryColor: rgb(91, 42, 157);
  --secondaryColor: rgb(245, 31, 155);
  --tertiaryColor: #4ea1d3
}

body {
  margin: 0;
  font-family: 'Roboto', 'Squada One', sans-serif;
  scroll-behavior: smooth;

}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  /* Set the width of the scrollbar */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #4ea1d3;
  border-radius: 5px;
  /* Set the background color of the scrollbar thumb */
}